<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<html>
  <head>
    <title>AdVertz | <%= yield(:title) %></title>
  </head>
  <body>
  <div id="wrapper">
      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>About Us <small>Who we are</small></h1>
            <ol class="breadcrumb">
              <li class="active"><i class="glyphicon glyphicon-info-sign"></i> Company Profile</li>
            </ol>
			    <p>
			      One stop Advertising solution is in your hands. work with us to make your product known
			    </p>
          </div>
        </div>
  </body>
</html>