<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title>AdVertz | <%= yield(:title) %></title>
  </head>
  <body>
  <div id="wrapper">
      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>Help <small>Feeling Lost?</small></h1>
            <ol class="breadcrumb">
              <li class="active"><i class="glyphicon glyphicon-question-sign"></i> FAQ</li>
            </ol>
			    <p>
			      Site under construction
			    </p>
          </div>
        </div>
  </body>
</html>