<% provide(:title, "Dashboard") %>
  <div id="wrapper">
      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>Dashboard <small>Statistic</small></h1>
            <ol class="breadcrumb">
              <li class="active"><i class="glyphicon glyphicon-dashboard"></i> Overview</li>
            </ol>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Welcome to Advertz Dashboard. Detailed view of your statistic.Real time..
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="glyphicon glyphicon-play-circle announcement-heading"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">456</p>
                    <p class="announcement-text">Campaigns</p>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      View Campaigns
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="glyphicon glyphicon-circle-arrow-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="glyphicon glyphicon-ok announcement-heading"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">12</p>
                    <p class="announcement-text">To-Do Items</p>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      Complete Tasks
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="glyphicon glyphicon-circle-arrow-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="glyphicon glyphicon-warning-sign announcement-heading"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">18</p>
                    <p class="announcement-text">Complaints</p>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      View Complaints
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="glyphicon glyphicon-circle-arrow-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="glyphicon glyphicon-bullhorn announcement-heading"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">56</p>
                    <p class="announcement-text">Message</p>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      View Messages
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="glyphicon glyphicon-circle-arrow-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-dashboard"></i> Today's Statistic</h3>
              </div>
              <div class="panel-body">
                <div id="myfirstchart" style="height: 250px;"></div>         
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-dashboard"></i> Campaign Type Effectiveness</h3>
              </div>
              <div class="panel-body">   
              	<div id="mysecondchart" style="height: 250px;"></div>                  
              </div>
            </div>
          </div>
          
         <div class="col-lg-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-dashboard"></i> User Trends</h3>
              </div>
              <div class="panel-body">
                <div id="mydonut" style="height: 250px;"></div>         
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
         <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-calendar"></i> All Campaigns Stats</h3>
              </div>
              <div class="panel-body">        
              	<div class="table-responsive">
			<table class="table table-bordered table-hover tablesorter">			
			<thead>
				<tr>
			<th>Campaign name</th>
			<th>Start</th>
			<th>End</th>
			<th>Total Redeemed</th>
			<th>Total Valid </th>
			<th>Net Variance (Amt)</th>
			<th>Net Variance (%Amt%)</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Campaign Samurai</td>
			<td>jan 6, 2014 8:14 am</td>
			<td>may 6, 2014 8:14 am</td>
			<td>100</td>
			<td>90</td>
			<td>90.00</td>
			<td>10%</td>
		</tr>
		<tr>
			<td>Campaign Ninja</td>
			<td>jan 8, 2014 8:14 am</td>
			<td>may 9, 2014 8:14 am</td>
			<td>1000</td>
			<td>90</td>
			<td>990.00</td>
			<td>1%</td>
		</tr>
	</tbody>
</table>
				</div>            
              </div>
            </div>
          </div>
        </div>
   	
</body>
 </div><!-- /#page-wrapper -->

 </div>
<script>
	new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'myfirstchart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: [
    { year: '2008', value: 20 },
    { year: '2009', value: 10 },
    { year: '2010', value: 5 },
    { year: '2011', value: 5 },
    { year: '2012', value: 20 }
  ],
  // The name of the data record attribute that contains x-values.
  xkey: 'year',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['value'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Value']
});
</script>
<script>
	new Morris.Bar({
  // ID of the element in which to draw the chart.
  element: 'mysecondchart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: [
    { year: '2008', value: 20 },
    { year: '2009', value: 10 },
    { year: '2010', value: 5 },
    { year: '2011', value: 5 },
    { year: '2012', value: 20 }
  ],
  // The name of the data record attribute that contains x-values.
  xkey: 'year',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['value'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Value']
});

  	$(document).ready(function() {
	// call the tablesorter plugin
	$("table").tablesorter({
		// sort on the first column and third column, order asc
		sortList: [[0,0],[2,0]]
	});
}); 

Morris.Donut({
  element: 'mydonut',
  data: [
    {label: "Download Sales", value: 12},
    {label: "In-Store Sales", value: 30},
    {label: "Mail-Order Sales", value: 20}
  ]
});
</script>