<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Taplah</a>
    by Hazouranosan
  </small>
  <nav>
    <ul>
      <li><%= link_to '<i class="icon-info-sign"></i> About'.html_safe, about_path %></li>
      <li><%= link_to '<i class="icon-signal"></i> Contact'.html_safe, contact_path %></li>
      <li><i class="icon-globe"></i><a href="http://news.railstutorial.org/"> News</a></li>
    </ul>
  </nav>
</footer>