<footer class="footer">
  <small>
    <a href="http://tranquil-plains-4192.herokuapp.com">AdVertz</a>
    by Hazou.Lab
  </small>
  <nav>
    <ul>
      <li><%= link_to '<i class="glyphicon glyphicon-info-sign""></i> About'.html_safe, about_path %></li>
      <li><%= link_to '<i class="glyphicon glyphicon-phone-alt"></i> Contact'.html_safe, contact_path %></li>
      <li><i class="glyphicon glyphicon-globe"></i><a href="http://news.railstutorial.org/"> News</a></li>
    </ul>
  </nav>
</footer>